In [18]:
import numpy as np
import skbio.stats as st
import pandas as pd
from skbio import DistanceMatrix
from scipy.spatial.distance import pdist, squareform
from IPython.display import display

In [4]:
wu = pd.read_csv("data_input/wu.tsv", sep="\t", header=0, index_col=0)
ra = pd.read_csv("data_input/ra.tsv", sep="\t", header=0, index_col=0)
me = pd.read_csv("data_input/me.tsv", sep="\t", header=0, index_col=0)

In [14]:
val_dist = squareform(pdist(ra.T, "braycurtis"))
bc = pd.DataFrame(val_dist, index=ra.columns, columns=ra.columns)

In [16]:
me

,S004_0w,S004_4w,S009_0w,S009_4w,S013_0w,S013_4w,S021_0w,S021_4w,S032_0w,S032_4w,...,S123_0w,S123_4w,S130_0w,S130_4w,S131_0w,S131_4w,S138_0w,S138_4w,S148_0w,S148_4w
subject_id,S004,S004,S009,S009,S013,S013,S021,S021,S032,S032,...,S123,S123,S130,S130,S131,S131,S138,S138,S148,S148
sex,female,female,female,female,female,female,female,female,female,female,...,male,male,male,male,male,male,male,male,female,female
age,55,55,36,36,47,47,42,42,29,29,...,55,55,26,26,41,41,52,52,47,47
group_raw,B,B,B,B,B,B,B,B,B,B,...,A,A,A,A,A,A,A,A,A,A
group,C,C,C,C,C,C,C,C,C,C,...,T,T,T,T,T,T,T,T,T,T
timepoint,0w,4w,0w,4w,0w,4w,0w,4w,0w,4w,...,0w,4w,0w,4w,0w,4w,0w,4w,0w,4w
group_timepoint,C_0w,C_4w,C_0w,C_4w,C_0w,C_4w,C_0w,C_4w,C_0w,C_4w,...,T_0w,T_4w,T_0w,T_4w,T_0w,T_4w,T_0w,T_4w,T_0w,T_4w

In [17]:
np.random.seed(0)

d_wu = {}
d_bc = {}

for mk in ["subject_id", "group", "timepoint", "group_timepoint"]:
    mvals = me.loc[mk].tolist()
    res_wu = st.distance.permanova(DistanceMatrix(wu), mvals)
    res_bc = st.distance.permanova(DistanceMatrix(bc), mvals)
    d_wu[mk] = res_wu
    d_bc[mk] = res_bc

In [28]:
for mk in ["subject_id", "group", "timepoint", "group_timepoint"]:
    print(mk)
    print("-----")
    print("weighted UniFrac")
    pval = d_wu[mk]["p-value"]
    print(f"p-value: {pval}")
    res = d_wu[mk]
    r2 = 1 - 1 / (1 + res[4] * res[3] / (res[2] - res[3] - 1))
    print(f"R2 score: {round(r2, 3)}")
    print("-----")
    print("Bray-Curtis")
    pval = d_bc[mk]["p-value"]
    print(f"p-value: {pval}")
    res = d_bc[mk]
    r2 = 1 - 1 / (1 + res[4] * res[3] / (res[2] - res[3] - 1))
    print(f"R2 score: {round(r2, 3)}")
    print("=========")

subject_id
-----
weighted UniFrac
p-value: 0.001
R2 score: 0.87
-----
Bray-Curtis
p-value: 0.001
R2 score: 0.79
=========
group
-----
weighted UniFrac
p-value: 0.006
R2 score: 0.055
-----
Bray-Curtis
p-value: 0.071
R2 score: 0.027
=========
timepoint
-----
weighted UniFrac
p-value: 0.127
R2 score: 0.024
-----
Bray-Curtis
p-value: 0.071
R2 score: 0.027
=========
group_timepoint
-----
weighted UniFrac
p-value: 0.037
R2 score: 0.054
-----
Bray-Curtis
p-value: 0.029
R2 score: 0.05
=========